{% extends "base.html" %}

{% block title %} Add event {% endblock %}

{% block content %}

<div class="text-center">
    <a class="btn btn-secondary shadow-lg" href="/eventlist" role="button"> back to eventlist </a>
</div>

<div class="card shadow mx-auto">
    <h2 class="card-title text-center mt-3"> Add New Event </h2>

    <form method="POST" name="add_event_form">

        <!--Title-->
        <div class="form-floating form-group mt-1">

            <input type="text" class="form-control" id="title" name="title" placeholder="example_title" required>
            <label for="title"> 活動標題 </label>
        </div>

        <!--Category-->
        <div class="form-floating form-group mt-3">
            <select class="form-select" aria-label="select category" id="category" name="category">
                <option value="1"> 華語 </option>
                <option value="2"> 韓國 </option>
                <option value="3"> 日本 </option>
                <option value="4"> 西洋 </option>
            </select>
            <label for="gender"> 活動分類 </label>
        </div>

        <!--Time-->
        <div class="form-floating form-group mt-3">
            <input type="datetime-local" class="form-control" id="time" name="time" placeholder="YYYY-MM-DD HH:MM:SS" required>
            <label for="time"> 活動時間 </label>
        </div>

        <!--Ticket Time-->
        <div class="form-floating form-group mt-3">
            <input type="datetime-local" class="form-control" id="ticket_time" name="ticket_time" placeholder="YYYY-MM-DD HH:MM:SS" required>
            <label for="ticket_time"> 開始售票時間 </label>
        </div>

        <!--Description-->
        <div class="form-floating form-group mt-3">
            <input type="text" class="form-control" id="description" name="description" placeholder="description" required>
            <label for="description"> 敘述 </label>
        </div>

        <!--Notices-->
        <div class="form-floating form-group mt-3">
            <input type="text" class="form-control" id="notices" name="notices" placeholder="notices" required>
            <label for="notices"> 注意事項 </label>
        </div>

        <!--Ticket Name-->
        <!--div class="form-floating form-group mt-3">
            <input type="text" class="form-control" id="ticket-type-name" name="ticket-type-name" placeholder="ticket-type-name" required>
            <label for="ticket-type-name"> 票種名稱 </label>
        </div>

        <!--Ticket Price>
        <div class="form-floating form-group mt-3">
            <input type="text" class="form-control" id="ticket-type-price" name="ticket-type-price" placeholder="ticket-type-price" required>
            <label for="ticket-type-price"> 票種價錢 </label>
        </div>

        <!--Ticket Amount>
        <div class="form-floating form-group mt-3">
            <input type="text" class="form-control" id="ticket-type-amount" name="ticket-type-amount" placeholder="ticket-type-price" required>
            <label for="ticket-type-amount"> 票種數量 </label>
        </div-->

        <p class="error error--hidden mt-3 mb-0"></p>

        <div class="text-center mt-3 mb-0">
            <button type="submit" class="btn btn-primary add-event-confirm shadow"> Create </button>
            <button type="reset" class="btn btn-secondary add-event-confirm shadow"> Clear </button>
        </div>

    </form>

</div>

<br><br><br><br>

{% endblock %}