{% extends "base.html" %}

{% block title %} 管理員模式 {% endblock %}

{% block content %}

<div class="card mx-auto">
    <h2 class="card-title text-center mt-3"> 管理者模式 </h2>
    <div class="card-body text-center">
        <a class="btn btn-danger shadow-lg" href="/memberprofile" role="button"> 會員模式 </a>
        <a class="btn btn-primary shadow-lg" href="/memberlist" role="button"> 會員列表 </a>
        <a class="btn btn-primary shadow-lg" href="/eventlist" role="button"> 活動列表 </a>
    </div>
</div>


{% endblock %}
