<div>
    <p>{{ result }}</p>

    <br><br>

    <p>
        <strong> title: </strong> {{ result["title"] }}<br>
        <strong> category: </strong> {{ result["category"] }}<br>
        <strong> time: </strong> {{ result["time"] }}<br>
        <strong> ticket time: </strong> {{ result["ticket_time"] }}<br>
        <strong> description: </strong> {{ result["description"] }}<br>
        <strong> notices: </strong> {{ result["notices"] }}<br>
        <strong> ticket : </strong> {{ result["ticket"] }} <br>
        <br>

        <strong> ticket type number: {{ result.ticket | length }} </strong><br><br>
        {% for index in range(result.ticket | length) %}
        <strong> ticket {{ loop.index }} </strong><br>
        <strong> name: </strong> {{ result["ticket"][index]["name"] }} <br>
        <strong> price: </strong> {{ result["ticket"][index]["price"] }} <br>
        <strong> amount: </strong> {{ result["ticket"][index]["amount"] }} <br>
        <br>
        {% endfor %}

    </p>


</div>